{% extends 'base.html.twig' %}


{% block body %}
    {% block menu %}
        {% for s in sections %}
            <a href="{{ path("sections",{ 'id': s.id }) }}">{{ s.titre }}</a> -
        {% endfor %}<hr/>
    {% endblock %}
    <h1>{{ titre }}</h1>
    {% for a in articles %}
        <hr/>
        <h2>{{ a.titre }}</h2>
        <hr/>
        <h4>
        <p>{{ a.texte }}</p>
        <p>{{ a.temps|date("Y-m-d H:i:s") }} </p>
    {% endfor %}
{% endblock %}